<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->


<div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#contact">About</a>
        <a href="#about">Contact</a>
      </div>  

<div class="container">
            <form class="form-horizontal" [formGroup]="registerForm" role="form" (ngSubmit)="onSubmit()">
                <h2>Registration</h2>
                
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" formControlName="firstName" [(ngModel)]="user.firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" formControlName="lastName" [(ngModel)]="user.lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                        <label for="empId" class="col-sm-3 control-label">Employee Id</label>
                        <div class="col-sm-9">
                            <input type="text" id="empId" placeholder="Employee Id"  [(ngModel)]="user.empId" class="form-control" name= "empId" formControlName="empId" [ngClass]="{ 'is-invalid': submitted && f.empId.errors }" />
                            <div *ngIf="submitted && f.empId.errors" class="invalid-feedback">
                                <div *ngIf="f.empId.errors.required">Employee Id is required</div>
                                </div>
                        </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="text" formControlName="email" [(ngModel)]="user.email"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" formControlName="password" [(ngModel)]="user.pass" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Confirm Password</label>
                    <div class="col-sm-9">
                        <input type="password" formControlName="cpassword" id="cpassword" [(ngModel)]="user.cpassword" placeholder="Confirm Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }"/>
                        <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
                            <div *ngIf="f.cpassword.errors.required">Password is required</div>
                            <div *ngIf="f.cpassword.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                </div>

                

                <div class="form-group">
                        <label for="projectcode" class="col-sm-3 control-label">Project Code</label>
                        <div class="col-sm-9">
                            <input type="text" id="projectcode" formControlName="projectcode" [(ngModel)]="user.projectcode"  placeholder="Enter your project code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.projectcode.errors }"/>
                            <div *ngIf="submitted && f.projectcode.errors" class="invalid-feedback">
                                <div *ngIf="f.projectcode.errors.required">Project Code is required</div>
                                </div>
                        </div>
                </div>


                <div class="form-group">
                            <label for="projectname" class="col-sm-3 control-label">Project Name</label>
                            <div class="col-sm-9">
                                <input type="text" id="projectName"  class="form-control" formControlName="projectname" [(ngModel)]="user.projectname" [ngClass]="{ 'is-invalid': submitted && f.projectname.errors }"/>
                                <div *ngIf="submitted && f.projectname.errors" class="invalid-feedback">
                                    <div *ngIf="f.projectname.errors.required">Project name is required</div>
                                    </div>
                            </div>
                </div>

                <div class="form-group">
                                <label for="projectmanager" class="col-sm-3 control-label">Project Manager</label>
                                <div class="col-sm-9">
                                    <input type="text" id="projectmanager"  class="form-control" [(ngModel)]="user.projectmanager" formControlName="projectmanager"  [ngClass]="{ 'is-invalid': submitted && f.projectmanager.errors }"/>
                                    <div *ngIf="submitted && f.projectmanager.errors" class="invalid-feedback">
                                        <div *ngIf="f.projectmanager.errors.required">Project Manager name is required</div>
                                        </div>
                                </div>
                </div>
                            
                        
                <div class="form-group">
                                    <label for="teamname" class="col-sm-3 control-label">Team Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="teamName"  class="form-control" formControlName="teamName" [(ngModel)]="user.teamname" [ngClass]="{ 'is-invalid': submitted && f.teamName.errors }"/>
                                        <div *ngIf="submitted && f.teamName.errors" class="invalid-feedback">
                                            <div *ngIf="f.teamName.errors.required">Team name is required</div>
                                    </div>
                                    </div>
                </div>
              
                
              
                    
                 <!-- /.form-group -->

                <div>

                        <button class="btn btn-primary btn-block"  (click)="createEmployee()">Create</button>
              

                        <button class="btn btn-warning btn-block" [routerLink]="['/home']" >Cancel</button>
                            
                </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->











        