  
<div class="topnav">
    <a class="active" [routerLink]="['/adminportal']">Home</a>
    <a [routerLink]="['/approve']">Approve Accounts</a>
    <a [routerLink]="['/approveratings']">Approve Ratings</a>
    <a [routerLink]="['/home']">Log Out</a>
  </div>
<br>
<br>


<div>
  <table border="1"id="tblOne" style="width:50%; float:left" >
    <thead></thead>
    <tr>
      <th>firstName</th>
      <th>lastName</th>
      <th>empId</th>
      <th>email</th>
      <th>projectcode</th>
      <th>projectname</th>
      <th>teamname</th>
      
      

      </tr>
      
    
    <tbody> 
        <tr *ngFor="let employee of employees">
        <!--  <tr *ngFor="let employee of employees; let i=index;" [attr.id]="employee.id" (click)="deleteEmployee(employee);">-->
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.empId}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.projectcode}}</td>
            <td>{{employee.projectname}}</td>
            <td>{{employee.teamname}}</td>
            
          
           <!-- <button class="btn btn-primary btn-block"  (click)="approveEmployees()">Create</button>-->

           

        <!--  <Button style="margin:10px;">Approve</Button>--> 
             
          <!--   <button >DELETE ROW</button>-->
          <!--   <button >DELETE ROW</button>-->
 <!-- <Button >  Reject  </Button>  -->
          

            </tr>
    </tbody>
      </table>


     
      <table id="tblTwo" style="width:10%; float:left">
          <tr>
              <th>Approve</th>
          </tr>

          <tbody> 
              <tr *ngFor="let employee of employees; let i=index;"  let i=index;  [attr.id]="employee.id" (click)=approveEmployees(employee);>
                 <td>
                   
                   <a href="/approve">Approve</a>
                </td>
                  </tr>
        </table> 

        <table id="tblTwo" style="width:10%; float:left">
            <tr>
                <th>Reject</th>
            </tr>
  
            <tbody> 
                <tr *ngFor="let employee of employees; let i=index;"  let i=index;  [attr.id]="employee.id" (click)=deleteEmployee(employee);>
                   <td>
                     
                     <a href="/approve">Reject</a>
                  </td>
                    </tr>
          </table> 
        
      
      
        
      </div>
      

      <!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
   <body>

   </body>
      </html>