<app-navbar></app-navbar>

<div style="text-align:center">
   
        <h1>
            Admin Login
          </h1>
</div>
      

<div class="wrapper fadeInDown">
  <div id="formContent">

        <!-- Login Form -->
        <form  class="login-container" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>

          <div class="form-group">
            <input ngModel type="text" required id="loginadmin" class="fadeIn second" #loginadmin="ngModel" name="loginadmin" placeholder="login">
           </div>
           
           <div *ngIf="loginadmin.errors && (loginadmin.dirty || loginadmin.touched)" class="alert alert-danger">
            <div [hidden]="loginadmin.errors.required">
             Please enter the name
           </div>  
           <div [hidden]="loginadmin.touched.required">
              Please enter the name
            </div>
          </div>
           
           <div class="form-group"> 
            <input ngModel required type="password" id="password"  class="fadeIn third" #password="ngModel" name="password" placeholder="password">
          </div>
          <div class="alert alert-danger" *ngIf="password.touched && !password.value">Password required</div><br><br>
          
            <button [disabled]="!userForm.form.valid" type="submit"  class="btn btn-info btn-lg" value="Log in" [routerLink]="['/adminportal']">Login</button>&nbsp;
            <button type="reset" class="btn btn-warning btn-lg" value="Reset">Cancel</button>
          
          </form>
  </div>
</div>