  
<div class="topnav">
        <a class="active" [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/approve']">Approve Accounts</a>
        <a [routerLink]="['/approveratings']">Approve Ratings</a>
        <a [routerLink]="['/home']">Log Out</a>
      </div>
    
    <br><br>


    <div id="ratediv">
      <label>Tech Skills</label> &nbsp;<input type="text"><br><br>
      <label>Analysis Skill</label>&nbsp;<input type="text"><br><br>
      <label>Code Quality</label>&nbsp;<input type="text"><br><br>
      <label>Attitude</label>&nbsp;<input type="text"><br><br>
    <label>Communication</label>&nbsp;<input type="text"><br><br>
      <label>Adaptive</label>&nbsp;<input type="text"><br><br>
    <label>Responsibility</label>&nbsp;<input type="text"><br><br>
      <label>Delivery</label>&nbsp;<input type="text"><br><br>

      <label> Overall Ratings</label>&nbsp;<input type="text"><br><br>

      <button type="submit">Accept</button>&nbsp;
      <button type="submit">Reject</button>

</div>
